<!DOCTYPE html>
<html>

<head>
    <title>Web Sitemiz Güncelleniyor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style type="text/css">
        Body {
            font-family: Arial, Tahoma;
            text-align: center;
            background-color: #222222;
            color: #FFFFFF;
        }
        
        h2 {
            margin: 150px 0px 0px 0px;
        }
    </style>
</head>

<body>
    <h2>WEB SİTEMİZ GÜNCELLENİYOR</h2>
    <p>Kısa bir süre sonra tekrar yayında olacağız.</p>
    <p>Anlayışınız için teşekkür ederiz.</p>
</body>

</html>